* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

@media screen and (min-width: 2200px) {
  html {
    font-size: 28px;
  }
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 20px;
  }
}

body {
  font-family: $default-ff;
  font-weight: 400;
  margin: 0;
  font-size: 0.9rem;
  background-color: $light;
  overflow-y: scroll;
  letter-spacing: -0.02rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-ff;
  margin: 0 0 2rem 0;
}
ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: initial;
}

section {
  position: relative;
  width: 100%;
}

input {
  font-size: 0.9rem;
  color: $black;
  border: none;
  outline: $color-border solid 0.5px;
  padding: 0.4rem 0.7rem 0.5rem 0.7rem;
  border-radius: 5px;
  font-family: $default-ff;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
  &:focus-visible {
    outline: black solid 0.5px;
  }
  &::placeholder {
    color: $color-middle;
  }
}

button {
  position: relative;
  display: inline-block;
  background-color: $color-border;
  color: $black;
  border: none;
  font-size: 0.9rem;
  font-family: $default-ff;
  line-height: 0;
  padding: 1.1rem 2rem 1.2rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: $black;
    color: $white;
  }
  &.ghost {
    background-color: transparent;
    &:hover {
      background-color: $light;
      color: $black;
    }
  }
}

.dropdown {
  position: relative;
  cursor: pointer;
  .dropdown__content {
    position: absolute;
    right: -0.3rem;
    top: 100%;
    padding-top: 0.3rem;
    display: none;

    .dropdown__content__wrap {
      background-color: $white;
      padding: 0.5rem;

      flex-wrap: wrap;
      border: 1px solid $color-border;
      border-radius: $radius-block;
      li {
        position: relative;
        display: block;
        width: 100%;
      }
      button {
        display: block;
        width: 100%;
      }
    }
  }

  &:hover > .dropdown__content {
    display: flex;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 1420px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1000px) {
  input {
    padding: 0.8rem 0.7rem 0.9rem 0.7rem;
  }
  button {
    padding: 1.6rem 2rem 1.6rem 2rem;
  }
}
