@font-face {
  font-family: 'Apercu';
  src: url('https://cdn.jsdelivr.net/gh/sx-motive/cdn@master/fonts/apercu/ApercuPro-Bold.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url('https://cdn.jsdelivr.net/gh/sx-motive/cdn@master/fonts/apercu/ApercuPro-Medium.woff')
    format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url('https://cdn.jsdelivr.net/gh/sx-motive/cdn@master/fonts/apercu/ApercuPro-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;400;500;700&display=swap');
