$title-ff: 'Sofia Sans', sans-serif;
$default-ff: 'Sofia Sans', sans-serif;

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

$light: #f7f7f7;
$dark: rgb(31, 31, 31);
$color-middle: rgb(187, 187, 187);
$color-border: #e5e5e6;

$padding-layout: 1rem;
$padding-block: 0.7rem 1rem;

$radius-block: 0.5rem;
